# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Frontend
/task-manager-frontend/dist
/task-manager-frontend/tmp
/task-manager-frontend/out-tsc
/task-manager-frontend/bazel-out
/task-manager-frontend/node_modules
/task-manager-frontend/npm-debug.log
/task-manager-frontend/yarn-error.log
/task-manager-frontend/.angular/cache
/task-manager-frontend/.sass-cache/
/task-manager-frontend/connect.lock
/task-manager-frontend/coverage
/task-manager-frontend/libpeerconnection.log
/task-manager-frontend/testem.log
/task-manager-frontend/typings

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db