# ==========================
# Node / Angular (Frontend)
# ==========================
task-manager-frontend/node_modules/
task-manager-frontend/dist/
task-manager-frontend/tmp/
task-manager-frontend/out-tsc/
task-manager-frontend/bazel-out/
task-manager-frontend/.angular/
task-manager-frontend/.sass-cache/
task-manager-frontend/coverage/
task-manager-frontend/libpeerconnection.log
task-manager-frontend/npm-debug.log*
task-manager-frontend/yarn-error.log*
task-manager-frontend/testem.log
task-manager-frontend/typings/
task-manager-frontend/connect.lock

# ==========================
# Java / Spring Boot (Backend)
# ==========================
task-manager-backend/target/
task-manager-backend/.classpath
task-manager-backend/.project
task-manager-backend/.settings/

# ==========================
# VS Code
# ==========================
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ==========================
# IDEs / Ferramentas
# ==========================
.idea/
*.iml
*.launch
*.sublime-workspace
*.sublime-project
*.log

# ==========================
# Arquivos de sistema
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Outros desnecessários
# ==========================
/connect.lock
/coverage/
libpeerconnection.log
testem.log
typings/
.history/